<%# coding: utf-8 %>
<%-
  @title = @citation_key.html_safe
-%>

<div id="revision">
    <%= @rendered_reference.html_safe %>
</div>

<div class="revisedby">
  <p>
    Added on <%= format_date(@reference_added_at) %>
 </p>
</div>
