body {
    font-family: "DejaVu Serif", "Cambria", Serif !important;
    font-size: 18px;
    text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "DejaVu Serif", "Cambria", Serif !important;
    font-weight: normal;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
h1 {
    font-size: 1.6em;
    margin-bottom: 0.6em;
}
h2 {
    font-size: 1.6em;
    margin-bottom: 0.6em;
}
h3 {
    font-weight: bold;
    font-style: italic;
    font-size: 1.25em;
}
h4 {
    font-weight: bold;
    font-size: 1.2em;
}
h5 {
    font-weight: bold;
    font-size: 1.1em;
}
h6 {
    font-weight: bold;
    font-size: 1.05em;
}
li p {
    margin-top: 0em;
    margin-bottom: 0em;
}
.query {
    border-radius: 3px;
    padding: 0 40px;
    border-width: 1px;
    margin: 40px 0;
}
strong {
    font-style: italic;
}
span.theorem_label {
    font-style: italic;
}
a {
    text-decoration: underline;
    color: #2222AA;
}
a:hover {
    color: #2c66d8;
    background: none;
    text-decoration: underline;
}
a:hover.existingWikiWord {
    color: #2c66d8;
    background: none;
}
a:visited:hover.existingWikiWord {
    color: #2c66d8;
    background: none;
}

img, svg {
    margin: 40px auto 10px;
    display: block;
}
h1#pageName {
    font-size: 2.5em;
    margin-top: 1.0em;
    margin-bottom: 0.4em;
    color: #000;
}
.maruku-equation {
    font-size: 1.05em;
    margin: 1.05em auto 1.05em auto;
}
.navigation:not(.navfoot) {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 15px;
    color: #888;
    font-size: 0;
}
.navigation a {
    color: #888!important;
    font-size: 13px;
    margin: 0 20px 0 0;
    font-family: Sans-Serif;
    font-weight: lighter;
}
.navigation a:hover {
    color: #555!important;
    background:none;
}
.navigation.navfoot {
    margin: 20px 0px;
}
a.navlinkbackintime {
    margin: 0 0 0 0;
}
span.backintime {
    color: #888!important;
    font-size: 13px;
    font-family: Sans-Serif;
    margin: 0 20px 0 0;
}
#pageName > span {
    position: absolute;
    font-size: .45em;
    top: 10px;
    left: 20px;
}
#pageName > span > svg {
    margin: 0;
}
#pageName > span.webName {
    left: 70px;
    top: 22px;
    color: #555;
    font-family: Sans-Serif;
    font-weight: lighter;
}

.maruku_toc li{
    font-size: 19px;
}
.maruku_toc li a{
    color: #226622;
}
.maruku_toc li a:hover {
    color: #2c66d8;
}
.maruku_toc li a:visited{
    color: #164416;
}

.maruku_toc li a:visited:hover{
    color: #2c66d8;
}

div.rightHandSide {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 0;
    border-top: 0;
    font-size: 14px;
}
.rightHandSide p {
    font-size: 14px;
}
.rightHandSide li {
    font-size: 14px;
}
.rightHandSide h3 {
    margin-top: 20px;
    font-size: 16px;
}
.rightHandSide h4 {
    font-size: 15px;
}
.rightHandSide h2 {
    font-size: 15px !important;
    margin-top: 15px;
    margin-bottom: 10px;
}

h1#contents {
    font-size: 1.8em;
}
input[type=text]#searchField {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    margin-bottom: -5px;
    margin-left: 10px;
    color: #555;
}
table {
    border: 0;
    margin: auto;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.float_right_image {
    float: right;
}

@media only screen and (max-width: 900px) {
    .navigation:not(.navfoot) {
        top: 60px;
   }
    h1#pageName {
        margin-top: 120px;
   }
   .float_right_image {
        float: none;
        padding-top: 5px;
   }
}

a[href="#navEnd"] {
    display: none;
}

.navigation span.views {
    font-family: Sans-Serif;
    margin-left: 30px;
}

.navigation a {
    font-weight: normal;
}

a.existingWikiWord {
    color: #009600;
}

a.existingWikiWord:visited {
    color: #00b121;
}

math {
    font-family: "DejaVu Math TeX Gyre", "Cambria Math", "STIX Two Math" !important;
}

mtext {
    font-family: "DejaVu Serif", "Cambria", "STIX Two Text" !important;
}

@font-face {
    font-family: STIX Two Text;
    src: local('STIX Two Text'), local('STIX2Text-Regular'),
         url('../fonts/STIX2Text-Regular.woff2'), url('../fonts/STIX2Text-Regular.woff');
}
@font-face {
    font-family: STIX Two Text;
    src: local('STIX Two Text Bold'), local('STIX2Text-Bold'),
         url('../fonts/STIX2Text-Bold.woff2'), url('../fonts/STIX2Text-Bold.woff');
    font-weight: bold;
}
@font-face {
    font-family: STIX Two Text;
    src: local('STIX Two Text Italic'), local('STIX2Text-Italic'),
         url('../fonts/STIX2Text-Italic.woff2'), url('../fonts/STIX2Text-Italic.woff');
    font-style: italic;
}
@font-face {
    font-family: STIX Two Text;
    src: local('STIX Two Text Bold Italic'), local('STIX2Text-BoldItalic'),
         url('../fonts/STIX2Text-BoldItalic.woff2'), url('../fonts/STIX2Text-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: STIX Two Math;
    src: local('STIX Two Math'), local('STIX2Math'),
         url('../fonts/STIX2Math.woff2'), url('../fonts/STIX2Math.woff');
}
