<%# coding: utf-8 %>
<%-
  @title = "Category — " + @category_name
-%>

<div>
  <h3>Overview</h3>
  <p><%= @name_text =%> has <%= @number_of_pages =%> pages in this category.</p>

  <h3>Pages</h3>
  <ul style="list-style: none; padding-left: 0">
  <%- for page in @all_pages_in_category %>
    <li><%= link_to(page, {:web => @web.address, :controller => "wiki", :action => @web.published? ? "published" : "show", :id => page}, {:style => "color: #005c19"}) %></li>
  <%- end -%>
  </ul>
</div>
