<%# coding: utf-8 %>
<%-
  @title = @page.plain_name
  @hide_navigation = true
  @style_additions = ".newWikiWord { background-color: white; font-style: italic; }"
-%>

<%= @renderer.display_content %>
