# These environment variables are only used by the Python scripts in script/src.
# Those Python scripts are called from the Ruby code.

# Database connection (as used by the Python scripts).
ENV["NLAB_DATABASE_NAME"] = "nlab"
ENV["NLAB_DATABASE_USER"] = ""
ENV["NLAB_DATABASE_PASSWORD"] = ""

# Log directory (for the Python scripts).
ENV["NLAB_LOG_DIRECTORY"] = "log"
