# Database connection.
ENV["NLAB_DATABASE_NAME"] = ""
ENV["NLAB_DATABASE_USER"] = ""
ENV["NLAB_DATABASE_PASSWORD"] = ""

# Command-line for itex2MML.
# Edit if not on path.
ENV["RUN_COMMAND_FOR_LATEX_COMPILER"] = "itex2MML"

# Log directories.
ENV["EDIT_LOG_DIRECTORY_PATH"] = "edit_log"
ENV["NLAB_LOG_DIRECTORY"] = "log"
