<%# coding: utf-8 %>
<%-
  @title = "Page not found"
-%>
<% if !local_assigns[:error_message].nil? %>
<p><%= error_message %></p>
<% else %>
<p>URL not recognised</p>
<%- end %>

<p><a href="/">nLab home page</a></p>
