<%# coding: utf-8 %>
<%- 
  @title = "500 Internal Server Error"
  @show_footer = true
-%>
<p>Oops! Please report this on the <a href="http://nforum.mathforge.org">nForum</a> (in the <em><a href="http://nforum.mathforge.org/21/">Technical</a></em> category), giving as precise details as you can as to what triggered the error.</p>
<p>Back to the <a href="/">Home Page</a>.</p>

<!-- exception:
<%= @exception %>

<%= @exception.backtrace.join("\n") unless @exception.backtrace.nil? %>
-->
